/** Step one **/

/** Step two **/
h1,
h2 {
  font-family: Reddit Sans;
}
/** Step three **/
h1 {
  font-size: 46px;
  letter-spacing: 1.75px;
  text-align: center;
  color: blueviolet;
}

/** Step four **/
p {
  font-family: poppins;
}
span {
  color: green;
}
/** Step five **/

/** Step six **/
h3 {
  font-size: 50px;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.8);
}
